.Myntra_logo{
  width: 40px;
  height: 30px;
  margin-top: 20px;
}
#Navbar{
    display: flex;
    border: 1px solid ;
    gap: 20px;
    padding: 10px;
    background-color: #fff;
    text-align: center;
    font-family: "Montserrat-Bold";
    font-size: 17px;
    border: 0px solid;
    position: sticky;
    
}
.nav{
   margin-top: 20px;
}
input{
    width: 30%;
    height: 20px;
    padding: 10px;
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
    background-color: rgb(239, 234, 234);
    border: 0px solid;
    border-radius: 2px;

}
.search{
    width: 5%;
    height: 40px;
    padding: 10px;
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
    background-color: rgb(239, 234, 234);
    border: 0px solid;
    border-radius: 2px; 
}
.icon{
    margin-left: 40px;
}

.slideimg{
    width: 100%;
    margin-top: 30px;
    margin-right: 20px;
}

.slideshow-container {
   
    position: relative;
    margin: auto;
   
  }
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: all 0.6s ease;
  }
  .Slides{
      display: flex;
      transition: all 0.6s ease;
  }
  .dot:hover{
    background-color: rgb(142, 128, 128)
  }
  #Block2{
      display: flex;
      width: 100%;
  }
  #Block2 img{
      width: 125px;
     
  }

  
  #Block3{
      display: grid;
      grid-template-columns: repeat(8,1fr);
     
  }
  #Block3 img{
      width: 150px;
  }
  #Block3{
    display: grid;
    grid-template-columns: repeat(8,1fr); 
    
  }
  h1{
      color: rgb(78, 76, 76);
  }
  #Block4{
      display: flex;

  }
  #Block4 img{
      width:250px;
  }
  #Block5{
      display: flex;
  }
  #Block5 img{
      width: 630px;
  }
  #Block6{
      display: flex;
  }
  #Block6 img{
      width: 180px;
  }
  
  
  